a {
    color: #000000;
}

.active a {
    color: #ffffff !important;
}

.active {
    background-color: #3584A7 !important;
}
span {
    font-size: 12px;
}
.material-icons {
    color: #3584A7 !important;
}

.active .material-icons {
    color: #fff !important;
}
.row span {
    font-size: 12px;
    font-weight: bold;
}
.num {
    margin: 0 !important;
    color: #3584A7;
    font-weight: bold;
    font-size: 16px;
}
.collection {
    border-radius: 10px !important;
}