.bodyDiv {
    height: 100%;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    margin: 0;
}

div.bodyContainer {
    margin-top: 50px !important;
}
.tabs a {
    color: #3584A7;
    font-weight: bold;
    font-size: 16px !important;
}

.tabs .active {
    background: inherit !important;
}
.auth-content {
    height: 415px !important;
}
.card {
    border-radius: 20px !important;
    width: 500px !important;
}
.card-content {
    padding: 18px;
}
body {
    background-color: #3584A7 !important;
}
.flex {
    display: flex !important;
    justify-content: center !important;
  }
  h3#title {
      font-size: 18px !important;
  }