
  <ul class="collection col s12 m12 l10" *ngFor="let post of topPosts">
    <li class="collection-item avatar">
      <img src="http://placehold.it/50x50" alt="" class="circle">
      <span class="title">{{post.username}}</span>
      <p class="time">{{TimeFromNow(post.created)}} <br>
         <!-- Country -->
      </p>
     
    </li>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <!-- <div class="card-image">
                    <img class="postImage" src="https://img.freepik.com/free-vector/abstract-futuristic-background_23-2148399335.jpg?size=626&ext=jpg">
                </div> -->
                <div class="card-content">
                    <p>{{post.post}}</p>
                </div>
                <div class="card-action">
                    <i (click)="LikePost(post)" [ngClass]="(!CheckInLikesArray(post.likes, user.username)) ? 'notLiked' : 'liked'" class="material-icons">thumb_up</i>
                    <span class="iconSpan">
                        {{post.totalLikes}}
                    </span>
                    <i class="material-icons" [ngClass]="(!CheckInLikesArray(post.comments, user.username)) ? 'notLiked' : 'liked'" (click)="OpenCommentBox(post)">chat</i>
                    <span class="iconSpan">
                        {{post.comments.length}}
                    </span>
                </div>
            </div>
        </div>
    </div>
  </ul>