.postDiv {
    background-color: #57a8b5;
  }
  
  form {
    background-color: #fff;
  }
  
  .formDiv {
    margin: 0px 20px 0px 20px;
  }
  
  .addImageBtn {
    margin-bottom: 5px;
  }
  
  .postBtn {
    float: right;
    margin-bottom: 5px;
  }
  
  .file-field input[type='file'] {
    width: 70% !important;
  }
  