.postDiv {
    background-color: #3584A7;
    border-radius: 10px 10px 0 0;
  }
  
  form {
    background-color: #fff;
  }
  
  .formDiv {
    margin: 0px 20px 0px 20px;
  }
  
  .addImageBtn {
    margin-bottom: 5px;
  }
  
  .postBtn {
    float: right;
    margin-bottom: 5px;
    background-color: #3584A7 !important;
  }
  
  .file-field input[type='file'] {
    width: 60% !important;
    background-color: #3584A7 !important;
  }
  .card-content {
    padding: 10px !important;
  }
  
  