<nav class="nav-extended">
  <div class="container">
  <div class="nav-wrapper">
    <a (click)="GoToHome()" class="brand-logo">Chat Up</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="dropdown-button dropdown-trigger" data-target ="dropdown">
        <i class="fa fa-globe fa-1x badge"></i>
        <span class="nav-label-icon">2</span>
        <ul id='dropdown' class='dropdown-content col s12 collection'>
          <li class="collection-item avatar" *ngFor="let data of notifications">
            <img src="http://placehold.it/50x50" class="circle">
            <span>{{data.message}}</span>
            <p class="time">{{data.created}}</p>
          </li>
          
        </ul>
      </li>
      <li><a (click)="logout()">Log Out</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <div class="nav-div">
      <img class="circle responsive-img" src="http://placehold.it/50x50" alt="">
    </div>
    <h1 class="profile-name">{{user.username}}</h1>
    <!-- <p class="user-text">This is a test</p> -->
  </div>
</div>
</nav>