<div class="container">
  <div class="row">
    <div class="col s10 offset-s1" id="panel">
      <div class="progress" *ngIf ="showSpinner">
        <div class="indeterminate"></div>
    </div>
      <h3 id="title">Sign Up</h3>
      <div id="errorMsg"  *ngIf="errorMessage">
        <span>{{errorMessage}}</span>
      </div>
      <form class="col s12" [formGroup] = "signupForm" novalidate (ngSubmit)="signupUser()">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" formControlName = "username">
            <label for="username">Username</label>
            <span class="error" *ngIf="!signupForm.controls['username'].valid && signupForm.controls['username'].touched">
                Username is required
            </span>
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" formControlName = "email">
            <label for="email">Email</label>
            <span class="error" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
              Email is required
          </span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="pass-word" type="password" formControlName = "password">
            <label for="pass-word">Password</label>
            <span class="error" *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
              Password is required
          </span>
          </div>
        </div>
        <button class="btn waves-effect" id="signupbtn" [disabled]="!signupForm.valid">
          Sign up
        </button>
      </form>
    </div>
  </div>
</div>
